{% for setting in raspberry.firmware.settings %}
{{ setting }}
{% endfor %}

{% for dtparam in raspberry.firmware.dtparams %}
dtparam={{ dtparam }}
{% endfor %}

{% for dtoverlay in raspberry.firmware.dtoverlays %}
dtoverlay={{ dtoverlay.dtoverlay }}
{% for dtparam in dtoverlay.dtparams|default([]) -%}
dtparam={{ dtparam }}
{% endfor %}

{% endfor %}

[pi4]
# Enable DRM VC4 V3D driver on top of the dispmanx display stack
dtoverlay=vc4-fkms-v3d
max_framebuffers=2

[all]
#dtoverlay=vc4-fkms-v3d
#dtparam=poe_fan_temp0=6000,poe_fan_temp0_hyst=5000,poe_fan_temp1=60000,poe_fan_temp1_hyst=2000
